h1 {
<<<<<<< HEAD
    color: red;
  }
  .container {
      max-width: 1200px;
      margin: 0 auto;
  }
  .header {
    display: flex;
    justify-content: space-around;
  }
  .right {
    display: flex;
  }
  .img {
    list-style: none;
    padding: 0px 20px;
  }
  .delete {
    border-radius: 4px;
    background-color: red;
    color: white;
    border: none;
  }
  .edit {
    border-radius: 4px;
    border: none;
    background-color: chocolate;
    color: white;
  }
=======
  color: red;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
}
.header {
  display: flex;
  justify-content: space-around;
}
.right {
  display: flex;
}
.img {
  list-style: none;
  padding: 0px 20px;
}
.delete {
  border-radius: 4px;
  background-color: red;
  color: white;
  border: none;
}
.edit {
  border-radius: 4px;
  border: none;
  background-color: chocolate;
  color: white;
}
>>>>>>> 611ae126a792bc5eee4d8ca6c93adec2a5d49a43
