@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");

body {
  margin: 0;
  font-family: monospace;
}
header {
  position: absolute;
  width: 100%;
  z-index: 100;
  border-bottom: 1px solid #fff5;
}
header ul {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  list-style: none;
}
header ul li {
  padding: 3px 40px;
  color: #fff;
}
header li.active,
header li:hover {
  border-bottom: 2px solid #fff;
}
.slider {
  position: relative;
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(to right, #2b2f3a, #0d0e12);
  overflow: hidden;
}
.slider::before {
  position: absolute;
  width: 50%;
  height: 100vh;
  content: "";
  top: 0;
  left: 0;
  background-color: #e88735;
}
.title {
  font-family: "Pacifico", cursive;
  position: absolute;
  top: 100%;
  right: 60%;
  text-align: right;
  color: #fff;
  font-size: 150px;
  width: 40%;
  line-height: 0.9em;
  text-shadow: 3px 5px 0 #478860;
  transform: rotate(-5deg);
}
.content {
  color: #fff;
  position: absolute;
  top: 10%;
  left: 60%;
  text-align: justify;
  width: 350px;
}

.content h1 {
  color: #e88735;
  font-size: xxx-large;
}
.content button {
  margin-top: 30px;
  padding: 10px 30px;
  border-radius: 20px;
  background-color: #e88735;
  color: #fff;
  border: none;
  font: right;
}
.content .item {
  display: none;
}
.content .item.active {
  display: block;
}
@keyframes showContent {
  from {
    opacity: 0;
    transform: translateY(100px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.content.item.item.item.active h1 {
  opacity: 0;
  animation: showContent 0.5s ease-in-out 1 forwards;
}
.content.item.item.item.active .des {
  opacity: 0;
  animation: showContent 0.5s ease-in-out 1 forwards;
}
